@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.ML {
    width: 100vw;
    height: 100vh;
    background: #13011fbd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LL {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LL>h1 {
    font-size: 3vw;
    color: rgba(41, 5, 124, 0.623);
}

.Imagem {
    width: 20vw;
}

.RL {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CL {
    width: 60%;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #29057c9f;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.CL>h1 {
    color: #800080;
    font-weight: 800;
    margin: 0;
}

.TextField {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.TextField>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #29057c5e;
    color: #fff9f9;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.TextField>label {
    color: #f5f5f5;
    margin-bottom: 10px;
}

.TextField>label::placeholder {
    color: #c0c0c0;
}

.B1L {
    width: 100px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 2px;
    color: #800080;
    background: #2f075c70;
    cursor: pointer;
    box-shadow: 0px 10px 40px -10px #00000056;
}


